<article>
    <div>
        <h4>{{title}}</h4>
        <p class="single-post-ele">
            {{content}}
        </p>
    </div>
    <div class="single-post-ele">
        by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>